<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload CSV File</h1>
    <form action="/result" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">Upload</button>
    </form>

    {% if response1 and response2 %}
    <h1>Google Gemini Response About Data</h1>
    <h2>Plot 1</h2>
    <img src="{{ url_for('send_plot', path=plot1_path) }}" alt="Plot 1">
    <p>{{ response1 }}</p>
    <h2>Plot 2</h2>
    <img src="{{ url_for('send_plot', path=plot2_path) }}" alt="Plot 2">
    <p>{{ response2 }}</p>
    {% endif %}

    <h1>Multiclass Visualization</h1>
    <form action="/streamlit" method="post">
        <label for="target_variable">Select target variable:</label><br>
        <select id="target_variable" name="target_variable">
            {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select><br><br>
        <label for="columns_for_analysis">Select columns for analysis:</label><br>
        <select id="columns_for_analysis" name="columns_for_analysis" multiple>
            {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit" name="process_button" value="Process">Process</button>
    </form>
    {% if response3 %}
    <h1>Multiclass Barplot</h1>
    <img src="{{ url_for('static', filename='multiclass_barplot.png') }}" alt="Plot 3">
    <p>{{ response3 }}</p>
    {% endif %}

    {% if response4 %}
    <h1>Multiclass Histplot</h1>
    <img src="{{ url_for('static', filename='multiclass_histplot.png') }}" alt="Plot 4">
    <p>{{ response4 }}</p>
    {% endif %}
</body>
</html>