pandas
seaborn
matplotlib
numpy
google-generativeai
pillow
werkzeug
fpdf
fastapi
starlette
jinja2
textwrap3
ipython
langchain-google-genai
langchain
pypdf
langchain-community
unstructured
openpyxl
docx2txt
python-magic
python-pptx
jinja2
nest-asyncio
faiss-cpu
tiktoken
networkx
python-multipart
uvicorn
