<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV or Excel File</title>
</head>
<body>
    <h2>Upload CSV or Excel File</h2>
    <form action="/process" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept=".csv,.xlsx">
        <input type="submit" value="Submit">
    </form>

    {% if columns %}
    <h2>Select Column for Sentiment Analysis</h2>
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <label for="target_variable">Select column:</label><br>
        <select id="target_variable" name="target_variable">
            {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select><br><br>
        <!-- Additional stopwords removal -->
        <h2>Additional Stopwords Removal</h2>
        <p>Enter additional stopwords separated by commas:</p>
        <input type="text" name="custom_stopwords" id="custom_stopwords">
        <p>Enter additional custom question to analyze based on the data:</p>
        <input type="text" name="custom_question" id="custom_question">
        <input type="submit" value="Analyze">
    </form>
    {% endif %}

    <!-- Sentiment Distribution -->
    {% if sentiment_plot %}
    <h2>Sentiment Distribution</h2>
    <img src="{{ sentiment_plot }}" alt="Sentiment Distribution"><br><br>
    {% endif %}

    <!-- Topic Distribution -->
    {% if topic_plot %}
    <h2>Topic Barchart Distribution</h2>
    <img src="{{ topic_plot }}" alt="Topic Distribution"><br><br>
    {% endif %}

    <!-- Hierarchy Topic Distribution -->
    {% if topic_plot1 %}
    <h2>Topic Hierarchy Distribution</h2>
    <img src="{{ topic_plot1 }}" alt="Topic Distribution"><br><br>
    {% endif %}

    <!-- Topic Distribution -->
    {% if topic_plot2 %}
    <h2>Topic Distribution</h2>
    <img src="{{ topic_plot2 }}" alt="Topic Distribution"><br><br>
    {% endif %}

    <!-- Sentiment Analysis Results -->
    {% if analysis_results %}
    <h2>Sentiment Analysis Results</h2>
    {{ analysis_results|safe }}
    {% endif %}

    <!-- WordCloud Positive -->
    {% if wordcloud_result_positive %}
    <h2>Wordcloud Positive Sentiment Visualization</h2>
    <img src="{{ wordcloud_result_positive }}" alt="Wordcloud">
    {% endif %}

    {% if gemini_result_response_pos %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_pos }}</p>
    {% endif %}

    <!-- WordCloud Neutral -->
    {% if wordcloud_result_neutral %}
    <h2>Wordcloud Neutral Sentiment Visualization</h2>
    <img src="{{ wordcloud_result_neutral }}" alt="Wordcloud">
    {% endif %}

    {% if gemini_result_response_neu %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neu }}</p>
    {% endif %}

    <!-- WordCloud Negative -->
    {% if wordcloud_result_negative %}
    <h2>Wordcloud Negative Sentiment Visualization</h2>
    <img src="{{ wordcloud_result_negative }}" alt="Wordcloud">
    {% endif %}

    {% if gemini_result_response_neg %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neg }}</p>
    {% endif %}

    <!-- Bigram Positive -->
    {% if bigram_result_positive %}
    <h2>BiGram Positive Sentiment Visualization</h2>
    <img src="{{ bigram_result_positive }}" alt="BiGram">
    {% endif %}

    {% if gemini_result_response_pos1 %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_pos1 }}</p>
    {% endif %}

    <!-- Bigram Neutral -->
    {% if bigram_result_neutral %}
    <h2>BiGram Neutral Sentiment Visualization</h2>
    <img src="{{ bigram_result_neutral }}" alt="BiGram">
    {% endif %}

    {% if gemini_result_response_neu1 %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neu1 }}</p>
    {% endif %}

    <!-- Bigram Negative -->
    {% if bigram_result_negative %}
    <h2>BiGram Negative Sentiment Visualization</h2>
    <img src="{{ bigram_result_negative }}" alt="BiGram">
    {% endif %}

    {% if gemini_result_response_neg1 %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neg1 }}</p>
    {% endif %}

    <!-- Unigram Positive -->
    {% if unigram_result_positive %}
    <h2>UniGram Positive Sentiment Visualization</h2>
    <img src="{{ unigram_result_positive }}" alt="UniGram">
    {% endif %}

    {% if gemini_result_response_pos2 %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_pos2 }}</p>
    {% endif %}

    <!-- Unigram Neutral -->
    {% if unigram_result_neutral %}
    <h2>UniGram Neutral Sentiment Visualization</h2>
    <img src="{{ unigram_result_neutral }}" alt="UniGram">
    {% endif %}

    {% if gemini_result_response_neu2 %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neu2 }}</p>
    {% endif %}

    <!-- UniGram Negative -->
    {% if unigram_result_negative %}
    <h2>UniGram Negative Sentiment Visualization</h2>
    <img src="{{ unigram_result_negative }}" alt="UniGram">
    {% endif %}

    {% if gemini_result_response_neg2 %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neg2 }}</p>
    {% endif %}

    <!-- Download button for the PDF -->
    {% if sentiment_plot or analysis_results or wordcloud_result_positive or wordcloud_result_neutral or wordcloud_result_negative or bigram_result_positive or bigram_result_neutral or bigram_result_negative or unigram_result_positive or unigram_result_neutral or unigram_result_negative %}
    <a href="{{ url_for('download_pdf') }}" class="btn btn-primary" download>Download Analysis Report PDF</a>
    {% endif %}
</body>
</html>
