<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV</title>
</head>
<body>
    <h2>Upload CSV File</h2>
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <!-- Additional stopwords removal -->
        <h2>Additional Stopwords Removal</h2>
        <p>Enter additional stopwords separated by commas:</p>
        <input type="text" name="custom_stopwords" id="custom_stopwords">
        <input type="submit" value="Analyze">
    </form>

    <!-- Sentiment Distribution -->
    {% if sentiment_plot %}
        <h2>Sentiment Distribution</h2>
        <img src="{{ sentiment_plot }}" alt="Sentiment Distribution">
    {% endif %}

    <!-- Sentiment Analysis Results -->
    
    {% if analysis_results %}
        <h2>Sentiment Analysis Results</h2>
        {{ analysis_results|safe }}
    {% endif %}

    <!-- bigram Anger -->
    {% if bigram_result_anger %}
    <h2>bigram Anger Sentiment Visualization</h2>
    <img src="{{ bigram_result_anger }}" alt="Bigram">
    {% endif %}

    {% if gemini_result_response_anger %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_anger }}</p>
    {% endif %}

    <!-- bigram Happy -->
    {% if bigram_result_happy %}
    <h2>bigram Happy Sentiment Visualization</h2>
    <img src="{{ bigram_result_happy }}" alt="Bigram">
    {% endif %}

    {% if gemini_result_response_happy %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_happy }}</p>
    {% endif %}

    <!-- bigram Neutral -->
    {% if bigram_result_neutral %}
    <h2>Bigram Neutral Sentiment Visualization</h2>
    <img src="{{ bigram_result_neutral }}" alt="Bigram">
    {% endif %}

    {% if gemini_result_response_neu %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_neu }}</p>
    {% endif %}

    <!-- bigram Fear -->
    {% if bigram_result_fear %}
    <h2>bigram Fear Sentiment Visualization</h2>
    <img src="{{ bigram_result_fear }}" alt="Bigram">
    {% endif %}

    {% if gemini_result_response_fear %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_fear }}</p>
    {% endif %}

    <!-- bigram Sadness -->
    {% if bigram_result_sadness %}
    <h2>bigram Sadness Sentiment Visualization</h2>
    <img src="{{ bigram_result_sadness }}" alt="Bigram">
    {% endif %}

    {% if gemini_result_response_sadness %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_sadness }}</p>
    {% endif %}

    <!-- bigram Love -->
    {% if bigram_result_love %}
    <h2>bigram Love Sentiment Visualization</h2>
    <img src="{{ bigram_result_love }}" alt="Bigram">
    {% endif %}

    {% if gemini_result_response_love %}
    <h2>Google Gemini Response</h2>
    <p>{{ gemini_result_response_love }}</p>
    {% endif %}

</body>
</html>
