<!DOCTYPE html>
<html>
<head>
    <title>Web and Youtube Video Analysis</title>
</head>
<body>
    <h2>Web and Youtube Video Analysis</h2>

    {% if not summary %}
    <form action="/" method="post">
        <input type="text" name="file_link" placeholder="Enter Website link">
        <p>Input your Google Gemini API Key</p>
        <input type="text" name="api_key" id="api_key">
        <input type="submit" value="Analyze">
    </form>
    {% endif %}

    {% if summary %}
    <h3>Summary:</h3>
    <p>{{ summary }}</p>

    {% if show_conversation %}
    <h3>Conversation</h3>
    <form action="/ask" method="post">
        <input type="text" name="question">
        <input type="submit" value="Ask">
    </form>
    {% endif %}
    {% endif %}

    {% if question_responses %}
    <h3>Conversation History:</h3>
    <ul>
        {% for question, response in question_responses %}
        <li><strong>Question:</strong> {{ question }}</li>
        <li><strong>Response:</strong> {{ response }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
