torch==2.3.0
plotly
kaleido
bertopic
nest-asyncio
werkzeug
urllib3
fastapi
starlette
jinja2
pydantic
seaborn
matplotlib
pandas
textwrap3
Sastrawi
transformers
google-generativeai
ipython
Pillow
wordcloud
fpdf
uvicorn
python-multipart
langchain-google-genai
langchain
langchain-community
unstructured
openpyxl
faiss-cpu
tiktoken
networkx
python-multipart
